practise_pycharm/ArticleSpider/.idea
practise_pycharm/ArticleSpider/ArticleSpider/__pycache__/
practise_pycharm/ArticleSpider/ArticleSpider/spiders/__pycache__
practise_pycharm/ArticleSpider/ArticleSpider/utils/checkcode.gif

